# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

# Build files
dist/
build/
*.egg-info/
dashboard_dataset.json

# Local data — RO-Crate / V1 - Regarding provate demo knowledge loom records GeoJSON inputs are local 
#Will use API in next versions
/test-data/
